USE [Cobra]
GO
/****** Object:  Table [dbo].[ktu_words]    Script Date: 2025-01-14 20:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ktu_words](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](max) NOT NULL,
	[kiekis] [int] NOT NULL,
 CONSTRAINT [PK_ktu_words] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ktu_words] ON 

INSERT [dbo].[ktu_words] ([id], [word], [kiekis]) VALUES (1, N'ir', 95122)
INSERT [dbo].[ktu_words] ([id], [word], [kiekis]) VALUES (2, N'kad', 54113)
INSERT [dbo].[ktu_words] ([id], [word], [kiekis]) VALUES (3, N'yra', 24212)
GO
SET IDENTITY_INSERT [dbo].[ktu_words] OFF
GO
